body{
    background-color: black;
}

.name{
    background: url(images/parl.png) 0 0/cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  'imprint mt shadow';
}