<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <section class="section" >
        <div class="login-box">
            <form action="">
                <h2>Resister Now</h2>
                
                {% comment %} username = request.POST.get('username')
                first_name = request.POST.get('first_name')
                last_name = request.POST.get('last_name')
                email = request.POST.get('email')
                password = request.POST.get('password')
                confirm_password = request.POST.get('confirm_password')
                 {% endcomment %}
                <div class="input-box">
                    <input type="text" name="username" required>
                    <label>User Name:</label>
                </div>
                <div class="input-box">
                    <input type="text" name="first_name" required>
                    <label>First Name:</label>
                </div>
                <div class="input-box">
                    <input type="text" name="last_name" required>
                    <label>Last Name:</label>
                </div> 
                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email:</label>
                </div>
                <div class="input-box">
                    <input type="password" name="username" required>
                    <label>Password:</label>
                </div>
                <div class="input-box">
                    <input type="password" name="confirm_password" required>
                    <label>Confirm Password:</label>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>